@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }
    .side-collapse-container.out {
        left: 200px;
    }
    .side-collapse {
        top: 88px;
        bottom: 0;
        right: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        z-index: 9999;
    }
    .side-collapse.in {
        width: 0;
    }
}