@font-face {
  font-family: 'raleway_regular';
  src: url('../fonts/raleway_regular.eot');
  src: local('raleway_regular'), url('../fonts/raleway_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }
